/* @override http://localhost:5000/static/css/nav.css */

/*
#
# Quru Web Site
#
# Document:      nav.css
# Date started:  12 July 2012
# By:            Roland Whitehead
# Purpose:       The main styling page for the navigation bar
# Requires:      
# Help:     For a tutorial on how this works, check out http://www.ourtuts.com/create-a-drop-down-navigation-menu-with-html5-and-css3/
# 
# Last Changed:  $Date: 2012-07-11 08:59:34 +0100 (Wed, 11 Jul 2012) $ $Rev: 856 $ by $Author: roland $
# 
# Notable modifications:
# Date       By    Details
# =========  ====  ============================================================
# 13Jul2012  RW    New
# 06Aug2012  RW    Much simpler, maroon style
# 22Oct2012  RW    Added nodropdown style details
# 07Feb2013  Matt  Tidied up, added iOS support - no_touch and touch_on classes
#                  For no_touch, see http://stackoverflow.com/q/2741816/1671320
#                  iOS bug fix to transitions (transition opacity, not visibility)
# 21Jun2013  RW    Removed margin-right on #nav
# 17Apr2014  RW    Reduced padding-right on menus
*/

/* Main navigation layout */

#nav {
	display: inline-block;
}

ul#navigation {
    margin: 0;
    padding: 0;
}

ul#navigation li {
    display: inline;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}

ul#navigation li a {
    display: inline-block;
    margin-right: 1.5em;
    color: black;
    text-decoration: none;
    padding-bottom: 0.5em;
}

/* @group Dropdowns */

/* Drop-down menu box styles (initially hidden) */
ul#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 6px;
    /* The next 2 styles are very important,
       being the ones which default the drop-down menu box to hidden */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 99999;
    background: maroon;
    background-image: none;
    /* css3 transitions for smooth hover effect */
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

/* Show drop-down menu box on no_touch hover,
   or on (inferred) yes_touch when touched */
.no_touch ul#navigation li:hover > ul,
          ul#navigation li.touch_on > ul {
    /* The next 2 styles are very important,
       being the ones which show the drop-down menu */
	visibility: visible;
    opacity: 1;
}

/* Show triangle above drop-down menu box on no_touch hover,
   or on (inferred) yes_touch when touched */
.no_touch ul#navigation li:hover > a,
          ul#navigation li.touch_on > a {
	background-image: url('/images/triangle.png');
	background-repeat: no-repeat;
	background-position: 10px bottom;
}

/* Support the "nodropdown" class to suppress the triangle */
.no_touch ul#navigation li:hover > a.nodropdown,
          ul#navigation li.touch_on > a.nodropdown {
	background-image: none;
	border-bottom: 1px solid maroon;
	padding-bottom: 0em;
}

/* Drop-down sub-menu item styles */
ul#navigation ul li a {
    background:none;
    padding-left: 0.8em;
    color: white;
    text-decoration:none;
    display:inline-block;
    border:none;
    float:left;
    clear:both;
    background-image: none !important;
}

/* Don't wrap text on drop-down sub-menu items */
ul#navigation ul li {
    clear:both;
    border:0 none;
	white-space: nowrap;
}

/* Show hover underline on drop-down sub-menu items */
ul#navigation ul li a:hover {
	text-decoration: underline;
	background-image: none;
}

/* @end */

