/*
#
# Quru Web Site
#
# Document:      quru.css
# Date started:  06 July 2012
# By:            Roland Whitehead
# Purpose:       The main styling page for the site
# Requires:
# Copyright:     Quru Ltd (www.quru.com)
#
# Last Changed:  $Date: 2015-04-23 11:13:06 +0100 (Thu, 23 Apr 2015) $ $Rev: 1412 $ by $Author: roland $
#
# Notable modifications:
# Date       By    Details
# =========  ====  ============================================================
# 06Jul2012  RW    New
# 31Jul2012  RW    Revised to B&W
# 06Aug2012  RW    Much simpler maroon style
# 13Oct2012  RW    Fixed centres of customer logos
# 16Oct2012  RW    Fixed borders on customer logos and alignment of footer
# 18Oct2012  RW    Correct the forms
# 04Dec2012  RW    Increased main font size to 20px
# 13Dec2012  RW    Added indenting to second line of list elements in sidebar
# 11Feb2013  Matt  Change morelink to float right to prevent text overlapping
# 21Feb2013  Matt  Added slideshow styles
# 26Feb2013  Matt  Added responsive layout
# 15May2013  RW    Added the Slideshow.plain
# 12Jun2013  RW    Added H4, H5
# 19Jun2013  RW    Added .EnlighterJSRenedered
# 14Nov2014  RW    Tweaks for HTML5 optimisation
# 19Feb2015  Matt  Swap body font order for Chrome bug https://code.google.com/p/chromium/issues/detail?id=408093
# 25Mar2015  RW    Reduce min-width for smallest responsive view
# 23Apr2015  RW    Hide trends and strapline in mobile use
*/
@font-face {
    font-family: 'DuruSansRegular';
    src: url('/fonts/DuruSans-Regular-webfont.eot');
    src: url('/fonts/DuruSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/DuruSans-Regular-webfont.woff') format('woff'),
         url('/fonts/DuruSans-Regular-webfont.ttf') format('truetype'),
         url('/fonts/DuruSans-Regular-webfont.svg#DuruSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body
{
    font: 19px/1.5em GillSansRegular, "Gill Sans MT", "Gill Sans", "Gill Sans W01 Medium", DuraSansRegular, sans-serif;
    font-weight: 300;
    -ms-touch-action: auto;
    padding: 1em 0 0 0;
    margin: 0;
}

img
{
    border: none;
}

#page
{
    min-width: 680px;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 4.5em 0 4.5em;
}

#header
{
    height: 145px;
    /* Provide base for trends and logo positioning */
    position: relative;
}
#telephone
{
    text-align: right;
    padding-bottom: 1em;
}


#trends
{
    position: absolute;
    top: 30px;
    right: 0em;
    text-align: right;
    margin-right: 1em;
    margin-left: 200px; /* Logo width + space */
}

#trends a
{
    text-decoration: none;
    margin-left: 10px;
    white-space: nowrap;
}

#trends a:hover
{
    border-bottom: 1px solid maroon;
}

#trends a.top_tag_10, #trends a.top_tag_9
{
    font-size: 0.9em;
}

#trends a.top_tag_8, #trends a.top_tag_7
{
    font-size: 0.8em;
}

#trends a.top_tag_6, #trends a.top_tag_5
{
    font-size: 0.7em;
}
#trends a.top_tag_4, #trends a.top_tag_3
{
    font-size: 0.6em;
}
#trends a.top_tag_2, #trends a.top_tag_1, #trends a.top_tag_0
{
    font-size: 0.5em;
}

#trends a.random_1, #trends a.random_0
{
    color: #222;
}

#trends a.random_2
{
    color: #333;
}

#trends a.random_3
{
    color: #444;
}

#trends a.random_4
{
    color: #555;
}

#trends a.random_5
{
    color: #666;
}

#trends a.random_6
{
    color: #777;
}

#trends a.random_7
{
    color: #888;
}

#trends a.random_8
{
    color: #999;
}

#trends a.random_9
{
    color:  #aaa;
}


.clear
{
    clear:  both;
}

.error {
    color: #990000;
}

h1
{
    /*color: maroon;*/
    font-size: 1.2em;
    margin-top: 0px;
    font-weight:  400;
}

.strapline
{
    float:  right;
    margin-left: 180px;
    font-size: 1.6em;
    margin-top: 85px;
    text-align: right;
}

a#logo
{
    position: absolute;
    top: 30px;
}

#logo img
{
    width: 150px;
    vertical-align: middle;
}

#content
{
    /* Provide base for sidebar positioning */
    position: relative;
}

.post {
    margin-right: 255px;
    margin-top: 1em;
    /* IE7 trigger hasLayout */
    min-height: 0px;
}

.post-footer {
    margin-bottom: 2eatures.em;    
}

.post-footer p {
    color: #999;
}

.post h1 {
    font-size: 1.2em;
    margin-top: 0px;
    font-weight: 400;
}

.post h2 {
    font-size: 1em;
    color: #880000;
    font-weight: 400;
}

.post h3 {
    font-size: 1em;
    font-wright: 400;
}

.post a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted #555;
}

/* Plain button for links */

.post .button {
    display: inline-block;
    width: 10em;
    box-shadow: 1px 1px 3px #999;
    border: 1px solid #999;
    border-radius: 4px;
    margin: 0 1em 1em 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    color: white;
    cursor: pointer;
    line-height: 1.5em;
    font-weight: 300;
    padding: 0.5em 0;
    text-decoration: none;
    background: linear-gradient(rgb(85, 175, 209), rgb(55, 145, 179));
}

.post .button:hover {
    color: white;
    background: linear-gradient(rgb(55, 145, 179), rgb(85, 175, 209));    
}

.post .fixed {
    width: 12em;
    height: 4em;
    box-shadow: none;
    white-space: normal;
}

.post span {
    vertical-align: middle;
    line-height: normal;
    display: table-cell;
    width: 12em;
    height: 4em;
}

.post .plain {
    background: none;
    border-color: black;
    color: black;
}
.story a:hover {
    border-bottom: 1px solid maroon;
}

.story div.summary {
    font-style: italic;
    color:  #888;
}

#sidebar
{
    width: 235px;
    position: absolute;
    right: 0px;
    /* Align top sidebar item with story headline */
    top: 0px;
    /* IE7 trigger hasLayout */
    min-height: 0px;
}

.banner #sidebar
{
    top: 0;
}

.sidebarItem
{
    border: 1px solid #ddd;
    border-radius: 0.4em;
    background-color: white;
    margin-bottom: 1em;
    font-size: 0.7em;
    line-height: 1.5em;
}


.sidebarItem h3
{
    padding-left: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin: 0;
    color: black;
    font-weight: 600;
    border-bottom: solid 1px #ddd;
}


.sidebarItem .copy
{
    padding: 1em;
}

ul.noBullets li
{
    padding-top: 1em;
    clear: both;
}

.sidebarItem ul li {
    margin-bottom: 0.7em;
}
.sidebarItem ul li:last-child {
    margin-bottom: 0;
}

ul.noBullets li img.partnerLogo
{
    vertical-align: top;
    padding-right: 1em;
    float: left;
}


hr {
    margin: 2.5rem 0 2rem;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0));
}

h3
{
    /*color: gray;*/
    font-weight: 600;
    font-size: 1.0em;
}

h4
{
    font-weight: 500;
}

h5
{
    font-size: 1.0em;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0;
}

p
{
    margin-top: 0;
}

.tltr
{
    border: 1px solid maroon;
    padding: 1em;
    background-color:rgba(128,0,0,0.05);
}

.tltr:before {
   content: "tltr: ";
    font-weight: 400;
    color: maroon;
}

.imgLeft
{
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
    border: none;
    padding: 0.5em;
    float: left;
}

.imgRight
{
    display: inline-block;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
    border: none;
    padding: 0.5em;

}


.imgLabel
{
    font-size: 0.8em;
    color: #888;
    width: 180px;
    text-align: center;
    line-height: 1em;
}

.imgLabel img
{
    display: inline;
    vertical-align: middle;
    float:  right;
}

.partnerLogo a
{
    border-style: none !important;
    text-decoration: none;
}

td.partnerLogo
{
    padding-right: 1em;
}



#rhevvideo
{
    padding-top: 1em;
    padding-bottom: 1em;
}


#aboutQuru
{
    color: #555;
    font-size: 0.8em;
}

#aboutQuru h1
{
    font-weight: normal;
    font-style: normal;
    margin: 1.5em 0;
}

#aboutQuru a
{
    color:  #555;
}

#morelink
{
    float: right;
    margin-left: 1em;
    margin-top: 0.3em;
    line-height: 1.2em;
}

#partners {
    text-align: center;
}

#partners img
{
    margin: 1em;
    max-width: 100px;
    max-height: 100px;
    height:  auto;
    width:  auto;
    vertical-align: middle;
}

em.color
{
    color:  maroon;
}

em.italic, em.inspired {
    font-style: italic;
}
    </div>

em.bold {
    font-weight: bold;
}

    
/* #contactUs == request_a_call.html */
#contactUs div.copy
{
    width: 200px;
    /* Centre content when sidebar is wider */
    margin-left: auto;
    margin-right: auto;
}
#contactUs div.copy form label
{
    width: 75px;
    display: inline-block;
}
#contactUs div.copy form input
{
    width: 103px;
}
#contactUs div.copy form input[type="button"],
#contactUs div.copy form input[type="submit"]
{
    margin-left: 79px;
}

/* #contact == jobs page and contact us page
   #requestAPaper == white paper form
   #contactUs == request_a_call.html

   MAINTAINERS - please use a class in future! (no more IDs!)
*/
#contact form div.formline label
{
    width: 100px;
    display: inline-block;
}
#contactUs div.copy form input,
#requestAPaper div.copy form input,
#contact form div.formline input,
#contact form div.formline textarea
{
    padding: 5px;
    margin-bottom: 1em;
    -webkit-border-radius: 4px;
    -khtml-border-radius:  4px;
    -moz-border-radius:    4px;
    border-radius:         4px;
    -webkit-box-shadow: 1px 1px 5px #999;
    -moz-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 3px #999;
    border: 1px solid #999;
}
#contact form div.formline textarea
{
    min-width: 250px;
    width: 80%;
    height: 6em;
    vertical-align: top;
}
#contact form div.formline input
{
    min-width: 250px;
    width: 80%;
}
#contact form div.formline input.button,
#contact #email_status
{
    margin-left: 102px;
    min-width: 148px !important;
}

input.button
{
    background-color: #46a0c2;
    background: linear-gradient(bottom, #3791b3, #55afd1);
    background: -o-linear-gradient(bottom, #3791b3, #55afd1);
    background: -moz-linear-gradient(100% 100% 90deg,#3791b3,#55afd1);
    background: -webkit-linear-gradient(bottom, #3791b3, #55afd1);
    background: -ms-linear-gradient(bottom, #3791b3, #55afd1);
    color: white;
    cursor: pointer;
}

input[type="text"]:hover, textarea:hover {
    border: 1px solid #233567;
}

#requestAPaper div.copy form
{
    padding: 0 2em;
}

#requestAPaper div.copy form label
{
    width: 5em;
    display: inline-block;
}

#requestAPaper div.copy form input.button
{
    min-width: 128px !important;
    margin-left: 8.9em;
}


.menu_list ul
{
    margin-left: 0 !important;
}
.menu_list ul li
{
    list-style-type: none;
    margin-bottom: 0.5em;
}
.menu_list ul li
{
    padding-left: 2em;
    text-indent: -2em;
}
.menu_list li a,
.article_list li a
{
    text-decoration: none;
    color:  black;
    list-style-type: none;
}
.menu_list li a:hover,
.article_list li a:hover
{
    border-bottom: 1px dotted maroon;
}

.article_list {
    padding: 1em;
}
.article_list ul {
    margin: 0;
    padding: 0;
}
.article_list li {
    list-style-type: none;
    margin-bottom: 0.7em;
}
.article_list li:last-child {
    margin-bottom: 0;
}

#sidebar.partners li
{
    text-decoration: none;
}

.nobullets
{
    padding-left: 0;
    margin-left: 0;
    margin-top: 1em;    
}
.nobullets li {
    list-style-type: none;
}

.column
{
    float: left;
    width: 50%;
    text-align: center;
    height: 140px;
}

.column img
{
    max-width: 150px;
    margin: auto;
    top: 50%;
    margin-top: -70px;
    position: relative;
}

.column a
{
    border: none !important;
}

.eightws {
    margin-bottom: 1em;
    font-style: italic;
    color: #555;
}

#About {
    color: #555;
    font-size: 0.8em;
    margin-bottom: 2em;
}

#About hr {
    margin-bottom: 1em;
}

#footer
{
    background-color: gray;
    background:      -o-linear-gradient(bottom, #888, #aaa);
    background:     -ms-linear-gradient(bottom, #888, #aaa);
    background:    -moz-linear-gradient(bottom, #888, #aaa);
    background: -webkit-linear-gradient(bottom, #888, #aaa);
    background:         linear-gradient(bottom, #888, #aaa);
    font-size: 0.8em;
    padding: 0 1em;
    margin-top: 1em;
    margin-bottom: 30px;
}

#footer ul li a
{
    color:  white;
    text-decoration: none;
}

#footer .column
{
    text-align: left;
    height: auto;
}

#footer ul li a:hover
{
    border-bottom: 1px solid maroon;
}

#footer ul
{
    padding-left: 0;
    margin-left: 0;
}

#footer ul li
{
    list-style-type: none;
}

#footer strong
{
    font-weight: 600;
}

.ah !important
{
    height: 26px;
    width: 41px;
}

#social
{
    float: right;
    width: 225px;
    text-align: right;
}

.followUs, .tweetThis, #___plusone_0
{
    display: inline-block;
    vertical-align: middle !important;
}

.followUs a, .tweetThis a
{
    /*margin-top: 4px;*/
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -khtml-border-radius:  5px;
    -moz-border-radius:    5px;
    border-radius:         5px;
    height: 18px;
    padding: 2px 8px 2px 25px;
    background: #f8f8f8 url('/images/twitter16.png') 5px center no-repeat;
    background: url('/images/twitter16.png') 5px center no-repeat,         linear-gradient(bottom, #ddd, #f8f8f8);
    background: url('/images/twitter16.png') 5px center no-repeat,       -o-linear-gradient(bottom, #dd, #f8f8f8);
    background: url('/images/twitter16.png') 5px center no-repeat,     -ms-linear-gradient(bottom, #ddd, #f8f8f8);
    background: url('/images/twitter16.png') 5px center no-repeat,    -moz-linear-gradient(bottom, #ddd, #f8f8f8);
    background: url('/images/twitter16.png') 5px center no-repeat, -webkit-linear-gradient(bottom, #ddd, #f8f8f8);
}

.followUs a:hover, .tweetThis a:hover
{
    background-color: #eee;
    background: url('/images/twitter16.png') 5px center no-repeat, linear-gradient(bottom, #aaa, #eee);
    background: url('/images/twitter16.png') 5px center no-repeat,      -o-linear-gradient(bottom, #aaa, #eee);
    background: url('/images/twitter16.png') 5px center no-repeat,     -ms-linear-gradient(bottom, #aaa, #eee);
    background: url('/images/twitter16.png') 5px center no-repeat,    -moz-linear-gradient(bottom, #aaa, #eee);
    background: url('/images/twitter16.png') 5px center no-repeat, -webkit-linear-gradient(bottom, #aaa, #eee);
}

.clickable
{
    cursor: pointer;
}

table.fraction
{
    text-align: center;
    vertical-align: middle;
    margin-top:0.5em;
    margin-bottom:0.5em;
    line-height: 2em;
}

td.upper_line
{
    border-top:solid 1px black;
}

table.searchresults {
    border: none;
}
table.searchresults th, td .cell {
    width: 175px;
    height: 175px;
    border: 1px solid #ddd;
    margin-right: 15px;
    margin-bottom: 15px;
    /*display: inline-block;*/
    float: left;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    line-height: 175px;
    padding: 5px;
}
table.searchresults th {
    font-weight: normal;
    font-style: italic;
    text-align: left;
}

.slideshow {
    width: 100%;
    height: 100%;
}

.sidebarItem .slideshow {
    width: auto;
    height: 150px;
}

div.sidebarItem.plain
{
    border: 1px solid #660000;
    box-shadow: none;
}

/*See http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio for details of fixed AR divs*/
.fullwidth
{
    display: inline-block;
    position: relative;
    width: 100%;
}

.aspectratio
{
    padding-top: 33%; /* 3:1 aspect ratio */
}

.fullwidth .showbox
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.EnlighterJSRendered
{
    border: 1px solid gray;
}

.grid {
    margin: 1rem 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/

* html .clearfix { height: 1%; }

.clearfix { display: block; }
/* close commented backslash hack */


.cell {
    width: 180px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 1em 1em 0 0;
    /*display: inline-block;*/
    float: left;
    text-align: center;
    vertical-align: middle;
    /*overflow: hidden;*/
    /*line-height: 90px;*/
}

.cell .plain {
    background: none;
}

.cella, .cellb, .cellc, .celld {
    background: #800000;
    background: -moz-linear-gradient(top, rgba(128,0,0,0.20) 0%, rgba(124,0,0,0.80) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(128,0,0,0.20) 0%,rgba(124,0,0,0.80) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(128,0,0,0.20) 0%,rgba(124,0,0,0.80) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */    color: white;
}

.cell_front {
    height: 100%;
}


.cell_back {
    padding: 0.5rem;
    background-color: white;
    z-index: 10;
    top: -175px;
    position: relative;
    height: 90%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
    line-height: 1.2rem;
    text-align: left;
}


.cell_back.show {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 2s;
}

.cell_back a, .cell_front a {
    height: 150px;
    width: 150px;
}

.cell_back a {
    color: black;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
}

#stockists .cell_back a {
    font-size: 75%;
    line-height: 100%;

}

.cell_back a span.title {
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;
}


.qis_type {
    width: 10em;
    height: 100px;
    border: 1px solid #ddd !important;
    text-align: center;
    vertical-align: middle;
    float: left;
    overflow: hidden;
    line-height: 100px;
    margin-right: 2em;
    margin-bottom: 2em;
}

#qis_for_business {
/*    background: #fefcea;
    background: linear-gradient(to bottom, #fefcea 0%, #f1da36 100%);*/
}

#qis_technology {
/*    background: #ff3019;
    background: linear-gradient(to bottom,#ff3019 0%, #cf0404 100% ); */
}


    
/* Responsive layout for small screens (767 == narrower than iPad) */

@media only screen and (max-width: 767px) {
    #page {
        /* Reduce min width */
        min-width: 300px;
        /* Reduce side padding */
        padding: 0 2em 0 2em;
    }
    #trends, .strapline {
        display: none;
    }
    #sidebar {
        /* Re-position sidebar under the story */
        position: static;
        /* Match width of the other stuff */
        width: auto;
    }
    #story, #nav {
        /* Utilise the sidebar space */
        margin-right: 0;
    }
    #social{
        padding-bottom: 1em;
        float: none;
        display: block;
        margin-left: auto;
    }


}

/* And a holding area for tablet class devices */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* None really because we assume that the whole site fits */
#page
{
    min-width: 768px;
    padding: 0 4em 0 4em;
}

}


/* end responsive layout */
