/*
#
# Quru Web Site
#
# Document:      quru.css
# Date started:  06 July 2012
# By:            Roland Whitehead
# Purpose:       The main styling page for the site
# Requires:
# Copyright:     Quru Ltd (www.quru.com)
#
# Last Changed:  $Date: 2015-04-23 11:13:06 +0100 (Thu, 23 Apr 2015) $ $Rev: 1412 $ by $Author: roland $
*/

@font-face {
    font-family: 'DuruSansRegular';
    src: url('/fonts/DuruSans-Regular-webfont.eot');
    src: url('/fonts/DuruSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/DuruSans-Regular-webfont.woff') format('woff'),
         url('/fonts/DuruSans-Regular-webfont.ttf') format('truetype'),
         url('/fonts/DuruSans-Regular-webfont.svg#DuruSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body
{
    font: 17px/1.5em "Open Sans", GillSansRegular, "Gill Sans MT", "Gill Sans", "Gill Sans W01 Medium", DuraSansRegular, sans-serif;
    font-weight: 200;
    -ms-touch-action: auto;
    margin: 0;
}

#header, .heading, h1.eightws, .post-content, .post-footer, #footer, #whitepapers, .altBlock, .block, #About, .whitepapers 
{
    padding: 0 12%;
}

a#logo
{
    float: left;
    margin: 0.5em 0 0 0.3em;
}

#logo img
{
    height: 1.5em;
}

img
{
    border: none;
}

h1.eightws {
    margin-bottom: 0.5em;
    font-size: 4em;
    font-weight: 800;
    font-stretch: semi-condensed;
    line-height: 80%;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    color: #333;
    max-width: 1000px;
}

h1.eightws em {
    font-style: normal;
    color: maroon;
}

h2 {
    font-size: 1.2em;
    color: maroon;
    font-weight: 600;
    padding-top: 1em;
}

h3 {
    font-size: 1em;
    font-weight: 400;
}

.post a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted #555;
}

.post-content {
    padding-bottom: 2em;
}

h3
{
    font-weight: 600;
    font-size: 1.0em;
}

h4
{
    font-weight: 500;
}

h5
{
    font-size: 1.0em;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0;
}

#page
{
    min-width: 680px;
    max-width: 2100px;
}

#header
{
    height: 2.5em;
    background-color: #EEE;
    position: relative;
    margin-bottom: 3em;
}

.vendorLogo {
    display: inline-block;
    float: right;
    margin: 0 0 1em 1em;
    background-color: white;
}

.vendorLogo img {
    margin: 1em;
}

.vendorLogo .tag {
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 0.5em 0;
}



.alt {
    background-color: #EEE !important;
}


#About {
    clear: both;
    font-size: 0.8em;
    padding-bottom: 0.5em;
}

#About h3 {
    display: inline-block;
    position: relative;
    top: -3em;
    margin-bottom: 0;
    padding: 0 2em 0.5em 2em;
    background-color: white;
}

#About h3 .About
{
    background-color: white;
}

#About h3 .About .alt {
    background-color: #EEE;
}

#About p {
    position: relative;
    top: -2.5em;
}

#About a {
    color: black;
    border-bottom: 1pt dotted black;
    text-decoration: none;
}

#footer
{
    background-color: #333;
    font-size: 0.8em;
    padding-bottom: 1em;
    border-top: 6px solid maroon;
}

#footer ul li a
{
    color:  white;
    text-decoration: none;
}

#footer .column
{
    text-align: left;
    height: auto;
}

#footer ul li a:hover
{
    border-bottom: 1px solid maroon;
}

#footer ul
{
    padding-left: 0;
    margin-left: 0;
}

#footer ul li
{
    list-style-type: none;
}

#footer strong
{
    font-weight: 600;
    color: maroon;
}

.column
{
    float: left;
    width: 30%;
    max-width: 15em;
    text-align: center;
    height: 140px;
}

.column a
{
    border: none !important;
}

.telephone
{
    color: white;
}

.telephone img {
    padding-right: 0.5em;
}

.clear, .customers
{
    clear:  both;
}

.error {
    color: #990000;
}

.whatwedo h2 {
    padding: 3em 0 2em 0;
    font-size: 1em;
    color: #666;
    text-transform: uppercase;
}

.whatwedo ul, .whitepapers ul, .logostrip ul {
    padding: 0;
}

.whatwedo li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    width: 276px;
    height: 31em;
    margin-right: 2em;
    margin-bottom: 2em;
    background-color: white;
}

.whatwedo li h3, .block li .eightws {
    padding: 0 1em;
    font-size: 1em;
    line-height: 1.2em;
    color: black;
}

.whatwedo a {
    text-decoration: none;
}
.whatwedo .eightws em {
    font-style: normal;
}

.logostrip {
    height: 160px;
}

.logostrip li, .whitepapers li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top; 
    margin: 0 2em 2em 0;
}

.logostrip li a {
    margin: 0 2em;
}

.whitepapers li {
    width: 300px;
    height: 30em;
}

.whitepapers .tag {
    color: #333;
}

.whitepapers a {
    text-decoration: none;
}

.whitepapers li h3 {
    padding: 0;
    color: black;
}

