/*
#
# Quru Web Site
#
# Document:      quru.css
# Date started:  06 July 2012
# By:            Roland Whitehead
# Purpose:       The main styling page for the site
# Requires:
# Copyright:     Quru Ltd (www.quru.com)
#
# Last Changed:  $Date: 2015-04-23 11:13:06 +0100 (Thu, 23 Apr 2015) $ $Rev: 1412 $ by $Author: roland $
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
	vertical-align: baseline;
}




body
{
    font: 15px/1.6 "Open Sans", GillSansRegular, "Gill Sans MT", "Gill Sans", "Gill Sans W01 Medium", sans-serif;
    font-weight: 200;
    -ms-touch-action: auto;
    margin: 0;
    background-color: #333;
}

#page {
    background-color: white;
}

.block {
    width: 100%;
    background-color: white;
}

.altblock {
    width: 100%;
    background-color: #EEE;
}

#footerblock {
    width: 100%;
    background-color: #333;
    border-top: 0.8rem solid maroon;
}


#header, .pageheading, .content, .post-footer, #footer, #whitepapers, #About, .whitepapers, .whatwedo, .logostrip 
{
    margin-left:  auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1176px;
}

a#show_nav {
    float:   right;
    display: none;
    width:  30px;
    height: 30px;
    margin-top:   0.5rem;
    margin-right: 1rem;
    background-image: url(/css/menu.png);
}

i {
    font-style: italic;
}

p {
    padding-bottom: 1em;
}

.heading {
    padding-bottom: 1.5em;
    columns: 2;
    
}

a#logo
{
    float: left;
    margin: 1.2rem 0 0 0.4rem;
}

#header
{
    height: 5rem;
    background-color: #EEE;
    position: relative;
}

#logo img
{
    height: 2.5rem;
}

img
{
    border: none;
}

h1.eightws {
    font-size: 4em;
    padding-top: 3rem;
    padding-bottom: 0.5em;
    font-weight: 800;
    line-height: 80%;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    color: #333;
    max-width: 1000px;
}

h1.eightws em {
    font-style: normal;
    color: maroon;
}

h2 {
    font-size: 1.2rem;
    color: #333;
    font-weight: 600;
    padding-bottom: 1.5em;
    text-transform: uppercase;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}

.post a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted #555;
}

.post-content {
    padding-bottom: 2rem;
}

h3
{
    font-weight: 600;
    font-size: 1.0rem;
}

h4
{
    font-weight: 500;
}

h5
{
    font-size: 1.0rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0;
}

.post-content li {
    list-style-position: inside;
    text-indent: -1.2em;
    padding-left: 1.5em;
}

.post-content li::before {
    content: "\25AA";
    color: maroon;
    display: inline-block;
    width: 0.1em;
    margin-left: 1.1em
}


ul {
    list-style: none;
}

ul.vendors {
    padding-top: 1em;
}

ul.vendors li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    width: 276px;
    height: 34rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #EEE;
    overflow: hidden;
}

.altblock ul.vendors li {
    background-color: white;
}

ul.vendors li img {
    padding: 32px;
    background-color: white;
    height: 212px;
}

ul.vendors li:last-child {
    margin-right: 0;
}

ul.vendors a {
    color: #666;
    text-decoration: none;
}

ul.vendors a:hover {
    display: block;
    background-color: maroon;
    color: white;
    height: 34rem;
}

ul.vendors li p {
    padding: 0 1rem;
    font-size: 1rem;
}

li h3, .block li .eightws {
    padding: 1rem 1rem 0.5rem 1rem;
    line-height: 1.2em;
}
/* ul.vendors li { */
/*     padding-bottom: 2em; */
/*     list-style-type: none; */
/* } */
/* ul.vendors li a.logo { */
/*     display: inline-block; */
/*     padding-right: 2em; */
/*     border: none; */
/*     vertical-align: top; */
/* } */

/* ul.vendors li a.text { */
/*     display: inline-block; */
/*     border: none; */
/*     vertical-align: top; */
/* } */

.vendorLogo {
    display: inline-block;
    position: relative;
    top: -3rem;
    float: right;
    margin: 0 0 1rem 1rem;
    background-color: white;
}

.vendorLogo img {
    margin: 1rem;
}

.vendorLogo .tag {
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 0.5rem 0;
}

.quote {
    padding-bottom: 4rem;
}

.quotebody {
    font-style: italic;    
}

.quotebody:before {
    content: "\201C"
}

.quotebody:after {
    content: "\201D"
}

.alt {
    background-color: #EEE !important;
}

.slideshow {
    height: 20VW;
    overflow: hidden;
    text-align: center;
    line-height: 304px;
    padding-bottom: 2rem;
}

.whitepapers {
    padding-top: 1.5rem;
}

#image {

}

.post_content p {
    display: inline-block;
    vertical-align: top;
}

.whitepaperdownload a {
    postition: relative;
    top: -3rem;
}

img.whitepaper {
    border: none;
    margin: 0 0 1em 1em;
    width: 450px;
    height: 637px;
    position: relative;
    top: -3rem;
}

.credit {
    font-size: 0.8rem;
    font-style: italic;
    padding-top: 1em;
}

#About {
    clear: both;
    font-size: 0.8rem;
    margin-top: 0rem;
    padding-bottom: 0.5rem;
}

#About h3 {
    display: inline-block;
    position: relative;
    top: -2em;
    margin-bottom: 0;
    padding: 0.5em 2em 2em 2em;
    background-color: white;
}

#About h3 .About
{
    background-color: white;
}

#About h3 .About .alt {
    background-color: #EEE;
}

#About p {
    position: relative;
    top: -2.5em;
}

#About a {
    color: black;
    border-bottom: 1pt dotted black;
    text-decoration: none;
}

#morelink
{
    float: right;
    margin-left: 1em;
    margin-top: 0.3em;
    line-height: 1.2em;
}

#footer
{
    font-size: 1.1rem;
    line-heigh: 2rem;
    padding-bottom: 1em;
    padding-top: 1em;
}

#footer ul li a
{
    color:  white;
    text-decoration: none;
}

#footer .column
{
    text-align: left;
    height: auto;
}

#footer ul li a:hover
{
    border-bottom: 1px solid maroon;
}

#footer ul
{
    padding-left: 0;
    margin-left: 0;
}

#footer ul li
{
    list-style-type: none;
}

#footer strong
{
    font-weight: 600;
    color: maroon;
}

.column
{
    float: left;
    width: 30%;
    max-width: 15em;
    text-align: center;
    height: 140px;
}

.column a
{
    border: none !important;
}

.telephone
{
    color: white;
}

.telephone img {
    padding-right: 0.5em;
}

.clear, .customers
{
    clear:  both;
}

.error {
    color: #990000;
}

.whatwedo, .content {
    padding-top: 3rem;
    padding-bottom: 3.5rem;
}

.whatwedo h2 {
    padding: 0 0 2rem 0;
    font-size: 1em;
    color: #333;
    text-transform: uppercase;
}

.whatwedo h3 {
    color: #333;
 }

.whatwedo ul, .whitepapers ul, .logostrip ul {
    padding: 0;
}

.whatwedo li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    width: 276px;
    height: 39rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: white;
    overflow: hidden;
}

.whatwedo li:last-child {
    margin-right: 0;
}

.whatwedo li h3, .block li .eightws {
    padding: 0 1em;
    font-size: 1em;
    line-height: 1.2em;
}

.block li .eightws {
    color: #666;
}

.whatwedo a {
    color: #666;
    text-decoration: none;
}
.whatwedo a .eightws {
    padding-left: 1rem;
    padding-right: 0.5rem;
    
}

.whatwedo .eightws em {
    font-style: normal;
}

.logostrip {
    height: 16rem;
    padding-top: 2em;
    overflow: hidden;
}

.logostrip ul li {
    height: 160px;
}

.logostrip li, .whitepapers li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top; 
    margin: 0 2em 2em 0;
}

.logostrip li a {
    margin: 0 2em;
}

.whitepapers li {
    width: 300px;
    height: 30em;
}

.whitepapers .tag {
    color: #333;
}

.whitepapers a {
    text-decoration: none;
}

.whitepapers li h3 {
    padding: 0;
    color: black;
}

/* #contactUs == request_a_call.html */
#contactUs div.copy
{
    width: 200px;
    /* Centre content when sidebar is wider */
    margin-left: auto;
    margin-right: auto;
}
#contactUs div.copy form label
{
    width: 75px;
    display: inline-block;
}
#contactUs div.copy form input
{
    width: 103px;
}
#contactUs div.copy form input[type="button"],
#contactUs div.copy form input[type="submit"]
{
    margin-left: 79px;
}

/* #contact == jobs page and contact us page
   #requestAPaper == white paper form
   #contactUs == request_a_call.html

   MAINTAINERS - please use a class in future! (no more IDs!)
*/
#contact form div.formline label
{
    width: 15rem;
    display: inline-block;
}
#contactUs div.copy form input,
#requestAPaper div.copy form input,
#contact form div.formline input,
#contact form div.formline textarea
{
    padding: 5px;
    margin-bottom: 1em;
    -webkit-border-radius: 4px;
    -khtml-border-radius:  4px;
    -moz-border-radius:    4px;
    border-radius:         4px;
    -webkit-box-shadow: 1px 1px 5px #999;
    -moz-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 3px #999;
    border: 1px solid #999;
}
#contact form div.formline textarea
{
    min-width: 250px;
    width: 80%;
    height: 6em;
    vertical-align: top;
}

.honeypot {
    display: none;
}

#contact form div.formline input
{
    min-width: 250px;
    width: 80%;
}
#contact form div.formline input.button,
#contact #email_status
{
    margin-left: 15rem;
    min-width: 148px !important;
}

input.button
{
    background-color: #46a0c2;
    background: linear-gradient(bottom, #3791b3, #55afd1);
    background: -o-linear-gradient(bottom, #3791b3, #55afd1);
    background: -moz-linear-gradient(100% 100% 90deg,#3791b3,#55afd1);
    background: -webkit-linear-gradient(bottom, #3791b3, #55afd1);
    background: -ms-linear-gradient(bottom, #3791b3, #55afd1);
    color: white;
    cursor: pointer;
}

input[type="text"]:hover, textarea:hover {
    border: 1px solid #233567;
}


/* Responsive settings */


/* Responsive layout for small screens (767 == narrower than iPad) */

@media only screen and (max-width: 767px) {
    #page {
        /* Reduce min width */
        min-width: 300px;
    }

    #header, .heading, h1.eightws, .post-content, .post-footer, #footer, #whitepapers, .altBlock, .block, #About, .whitepapers 
    {
        padding-left:  2rem;
        padding-right: 2rem;
    }

    #nav {
        display: none;
    }

    a#show_nav {
        display: inline-block;
    }

    .heading {
        columns: 1;
    }
}

/* And a holding area for tablet class devices */
@media only screen
and (min-device-width : 9768px)
and (max-device-width : 91024px) {
/* None really because we assume that the whole site fits */
    #page
    {
        min-width: 768px;
    }

    #header, .heading, h1.eightws, .post-content, .post-footer, #footer, #whitepapers, .altBlock, .block, #About, .whitepapers 
    {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .vendorLogo {
        position: relative;
        right: -1rem;
    }

    a#show_nav {
        display: none;
    }
}

/* Settings for a wide screen */

@media only screen and (min-width: 91024px) {
    /* #header, .heading, h1.eightws, .post-content, .post-footer, #footer, #whitepapers, .altBlock, .block, #About, .whitepapers 
       {
           padding: 0 12%;
       }
 */
    a#show_nav {
        display: none;
    }
}

@media only screen and (min-width: 91176px) {
#header, .heading, h1.eightws, .post-content, .post-footer, #footer, #whitepapers, .altBlock, .block, #About, .whitepapers 
       {
           padding-left: 10%;
           padding-right: 10%;
       }
 */
    a#show_nav {
        display: none;
    }
}
/* end responsive layout */
