<div class="sidebarItem" id="contactUs">
<h3>Request a call</h3>
<div class="copy">
<form name="contacts" method="post" action="https://formspree.io/sales@quru.com" onsubmit="return emailform(this)" data-use-ajax="yes">
<label for="realname">Name</label>
<input type="text" name="realname" maxlength="50" placeholder="Your name" />
<label for="email">Email</label>
<input type="email" name="email" placeholder="name@domain.com" />
<label for="phone">Phone no.</label>
<input type="tel" name="phone" placeholder="+44 20 7160 2888" />
<input id="email_submit" type="submit" class="button" value="Submit" />
<input type="hidden" name="_next" value="/thanks.html" />
<input type="hidden" name="_subject" value="Contact request from {{ page.url | remove_first: "/" | remove: ".html" }}" /><div id="email_status"></div>
<input type="text" name="_gotcha" class="honeypot" />
</form>
</div>
</div>
