<div class="clear"></div>
<div id="footer">
  <div class="column" id="footerColumn1">
    <ul>
      <li><a href="/partners/">Enterprise clients</a></li>
      <li><a href="/vendors/">Open source solutions</a></li>
      <li><a href="/products/">Quru software</a></li>
      <li><a href="/resources/">Resources</a></li>
    </ul>
  </div>
  <div class="column" id="footerColumn2">
    <ul class="article_list">
      <li>
	<a href="/qurulabs/">QuruLabs</a>
      </li>
      <li>
	<a href="/healthcheck/">Health check</a>
      </li>
      <li>
	<a href="/architecture/">Linux infrastructure design</a>
      </li>
      <li>
	<a href="/implementation/">Linux implementation</a>
      </li>
      <li>
	<a href="/development/">Development</a>
      </li>
    </ul>
  </div>
  <div class="column" id="footerColumn3">
    <div class="article_list">
      
    </div>
  </div>
  <div class="clear"></div>
</div> 
