<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if page.redirect %}
  <meta http-equiv="refresh" content="0; url={{ page.redirect | absolute_url }}">
  <link rel="canonical" href="{{ page.redirect | absolute_url }}" />
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}Quru - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="google-site-verification" content="CUwdgKgMYtgtXO6GhUTjNcGFd1NA8HEBzXcXkt8h3Uc" />
  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="{{ "/images/quru144.png" | prepend: site.baseurl }}" />

  <link rel="stylesheet" href="{{ "/css/southnav.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/southquru.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" media="print" href="{{ "/css/quru_print.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" href="//images.quru.com/static/styles/canvas_view.css" type="text/css" />
  <script src="/js/q.js" type="text/javascript"></script>
  <script src="/js/image-slider.js" type="text/javascript"></script>
  <script src="//images.quru.com/static/js/canvas_view_yc.js" type="text/javascript"></script>
  <script type="text/javascript">
  		QU.whenReady(function() {
  			// Initialise the clickable images
  			canvas_view_init_all_images('clickable', {
  				showcontrols: 'yes',
  				title: 'Quru Image Server',
  				description: 'The Quru Image Server is a high performance dynamic imaging ' +
  				             'solution for presenting your image collections on the web. ' +
  				             'It is ideal for use in conjunction with your existing web site ' +
  				             'for applications such as product catalogues.\n\n' +
  				             'For more information, email us or request a call.'
  			});
  		});

  		// Story must be >= sidebar height to avoid sidebar overlapping the footer.
  		// This needs to be done after dynamic elements have loaded, not just the initial DOM.
  		//QU.whenReady(function() {
                //if ($('sidebar')) {
                //   if (($('sidebar').getStyle('position') == 'absolute') &&
                //      ($('sidebar').clientHeight > $('story').clientHeight))
                //      {
                //          $('story').setStyle('min-height', $('sidebar').clientHeight+'px');
                //      }
                //   }
	        //});
  	</script>

    <script type="text/javascript">
    // Resize the full-width slideshows when the window is resized
    window.addEventListener('resize', function() {
        if (window._cb_resize !== undefined) clearTimeout(window._cb_resize);
        window._cb_resize = setTimeout(resetSlideshows, 500);
    });
    function resetSlideshows() {
        var shows = document.querySelectorAll('.slideshow');
        for (var i = 0; i < shows.length; i++) {
            var el = shows[i];
            if (el.id && el._show) slideshow_view_init(el.id, el._show.options);
         }
    };
    </script>
</head>
