<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NJ52MS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NJ52MS');</script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-4753067-1', 'auto');
  ga('send', 'pageview');

</script>

<div id="page" class="banner">

<div id="header">
    <a id="logo" href="/"><img src="{{ "/images/quru374.png" | prepend: site.baseurl }}" border="0" alt="Quru" /></a>

    <a href='#' id='show_nav' title='Show navigation'></a> <!-- for mobile -->
    
    <div id="nav">
        <ul id="navigation">
            <li><a href="/whatwedo/" class="first">What we do</a>
                <ul class="menu_list">
                    {% assign contents = site.whatwedo | sort: 'order' %}{% for p in contents %}{% if p.index == true %}<li><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>{% endif %}{% endfor %}
                </ul>
           </li>

           <li><a href="/vendors/">Open source partners</a>
                <ul class="menu_list">
                    {% assign contents = site.vendors | sort:'order' %}{% for v in contents %}{% if v.index == true %}<li><a href="{{ v.url | prepend: site.baseurl}}">{{ v.menu }}</a></li>{% endif %}{% endfor %}
                </ul>
           </li>

           <li><a href="/products/">Quru products</a>
                <ul class="menu_list">
                    {% assign contents = site.products | sort:'order' %}{% for p in contents %}{% if p.index == true %}<li><a href="{{ p.url | prepend: site.baseurl}}">{{ p.menu }}</a></li>{% endif %}{% endfor %}
                </ul>
           </li>

           <li><a href="/resources/contactus.html" class="nodropdown">Contact us</a></li>
       </ul>
    </div>
</div>
