<div id='About'>
  <hr>
  <h3>About Quru</h3>
  <p>Quru is a market leader in the technical development, deployment and support of Linux and open source solutions that help organisations to reduce costs and increase operational agility and capability. We have also developed multiple award-winning software solutions ranging from mobile phone apps to global enterprise systems. Quru is based in <a href="http://www.somersethouse.org.uk/" target="somersethouse">Somerset House</a> on the banks of the Thames, right in the centre of London. <a href="/resources/about.html" id="morelink">More...</a></p>
</div>
