{% assign sectioncount = sectioncount | plus: 1 %}
    <div class="{% assign alt = sectioncount | modulo: 2 %}{% if alt == 0 %}alt{% endif %}block">
        <div id='About'>
            <h3 class='About{% if alt == 0 %} alt{% endif %}'>About Quru</h3>
            <p>Quru was a market leader in the technical development, deployment and support of Linux and open source solutions that help organisations to reduce costs and increase operational agility and capability. It also developed multiple award-winning software solutions ranging from mobile phone apps to global enterprise systems.</p><p>Quru ceased trading in 2020.
            </p>
        </div>
    </div>  
