<div id='About'>
  <hr>
  <h3>About Quru</h3>
  <p>We are passionately committed to open source technologies and consider Red Hat technology a core part of the solutions we deliver. Quru is a Red Hat Premier Business Partner and we play a strong role in assisting Red Hat in the development of new open source solutions. An example of our close partnership is that a Quru consultant, Dhruv Ahuja was recognised as Red Hat Consultant of the Year 2012 for his innovative work on RHEV, Grid and Storage.</p>
  <p>Quru is based in <a href="http://www.somersethouse.org.uk/" target="somersethouse">Somerset House</a> on the banks of the Thames, right in the centre of London. <a href="/resources/aboutus.html" id="morelink">More...</a></p>
</div>
