    {% if page.whitepapertag %}{% assign sorted_posts = site.whitepapers | sort: 'order' %}{% assign counter = 1 %}{% assign sectionincluded = false %} {% for p in sorted_posts %}{% if p.index and p.tags contains page.whitepapertag  and sectionincluded == false %}{% assign sectionincluded = true %}{% assign sectioncount = sectioncount | plus: 1 %}{% endif %}{% endfor %}
    {% if sectionincluded %}{% assign alt = sectioncount | modulo: 2 %}
    <div class="{% if alt == 0 %}alt{% endif %}block">
        <div class="whitepapers {% if alt == 0 %} alt{% endif %}">
            <ul>{% for p in sorted_posts %}{% if p.index and p.tags contains page.whitepapertag and counter < 5 %}
                <li>
                    <figure>
                        <a href={{ p.url }}><img src="{{ p.thumbnail }}&width=276&height=207&autosizefit=0&format=png{% if p.type %}&overlay=/overlays/{{ p.type }}.png&ovpos=nw{% endif %}" alt="{{ p.title }}"></a>
                        <figcaption class="text">
                            <a href={{ p.url }}>
                                <h3>{{ p.title }}</h3>
                                <p class='tag'> {{ p.summary }}</p>
                            </a>
                        </figcaption>
                    </figure>
                </li>{% assign counter = counter | plus:1 %}{% endif %}{% endfor %}
            </ul>
        </div>
    </div>{% endif %}{% endif %}
