---
layout: default
---

<article class="post">

    <h1 class="eightws">{{ page.eightws | remove: ',' }}</h1>

    <div class='heading'>{{ page.heading }}</div>

    <div class="post-content alt">
        <div class='vendorLogo'>
            <a href='https:{{ page.vendorurl }}' target='_new'><img src='{{ page.logo }}&height=320&width=320' alt='{{ page.alt }}'>
                <div class='tag'>https:{{ page.vendorurl }}</div>
            </a>
        </div>
        {{ content }}
    </div>



</article>

{% include whitepapers.html %} {% include partnerfooter.html %} {% include footer.html %}
