---
layout: default
---
<article class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <div class="eightws">{{ page.eightws }}</div>
    <div class="post-content">

        {% assign carousel_size = page.carousel.size %} {% if carousel_size > 0 %}
        <div class="showbox">
            <script type="text/javascript" src="//images.quru.com/static/js/slideshow_view.min.js"></script>
            <div class="slideshow " id="slideshow_1" style="height: 20VW; overflow: hidden; text-align: center; line-height: 304px;margin-bottom: 1em;"></div>
            <script type="text/javascript">
                slideshow_view_init('slideshow_1', {
                    "images": [{% for slide in page.carousel %} {
                        "url": "{{ slide.url }}",
                        "src": "{{ slide.src }}",
                        "quality": "{% if slide.quality %}{{ slide.quality }}{% else %}'90'{% endif %}"
                    } {% if forloop.last != true %}, {% endif %} {% endfor %}],
                    "mode": "fade",
                    "server": "//images.quru.com/"
                });
            </script>
        </div>
        {% endif %} {{ content }}
    </div>

    <div class="post-footer">
        {% include qurufooter.html %}
    </div>
    {% include footer.html %}

</article>