---
layout: default
---
<div class="block">
    <div class="pageheading">{% assign sectioncount = 2 %}
        <h1 class="eightws">{{ page.eightws | remove: ',' }}</h1>
        <div class='heading'>
            {{ page.heading }}
        </div>
    </div>
</div>
<div class="altblock">
    <div class="content whitepaper alt"{% if page.download != null or page.link != null %}style='min-height: 650px;'{% endif %}>
        <div class='whitepaperdownload'>
            {% if page.download != null or page.link != null %}<a href='{% if page.download != null %}https:{{ page.download }}&attach=1{% elsif page.link != null %}{{ page.link }}{% endif %}' target='_new'><img class='clickable whitepaper' src='{{ page.image }}&width=450&format=png' alt='{{ page.title }}' align='right'></a></div>{% endif %}
        {{ content }}
    </div>
</div>

{% include whitepapers.html %}{% include partnerfooter.html %}{% include footer.html %}
